<!DOCTYPE html>
<html lang="en">

	<head>
		<title>WoW eAH</title>
		<link rel="icon" type="image/png" href="/img/favicon.ico" />
		<script src="/script/UserCreationHandler.js"></script>
	</head>

	<body>

		<%- include("common/navbar") -%>

			<!-- Page title -->
			<div class="page-header">
				<h1>Sign up</h1>
				<p>Enter a username and password to sign up!</p>
			</div>

			<div>
				<label for="username">Username</label>
				<input id="username" name="username" placeholder="Username" />
			</div>
			<div>
				<label for="password">Password</label>
				<input type="password" id="password" name="password" placeholder="Password" />
			</div>
			<button type="submit" onclick="submitNewPlayer()">Submit</button>
			<p id="message"></p>

	</body>

</html>