<!DOCTYPE html>
<html>

	<head>
		<title>WoW eAH</title>
		<link rel="icon" type="image/png" href="/img/favicon.ico" />
		<link rel="stylesheet" href="additionalStyles.css">
	</head>

	<body>

		<%- include("common/navbar") -%>

		<div style="text-align: center">
			<h1>WoW eAH</h1>
			<p>Online World of Warcraft Auction House.</p>

			<a href="/browse">Browse Auctions</a><br>
			<a href="/manage">Manage your auctions</a><br>
			<a href="/analyse">Analyse Auctions</a>
		</div>

	</body>

</html>