<!DOCTYPE html>
<html>

	<head>
		<title>WoW eAH</title>
		<link rel="icon" type="image/png" href="/img/favicon.ico" />
	</head>

	<body>

		<%- include("common/navbar") -%>

		<div style="text-align: center">

			<h1>WoW eAH</h1>
			<p>Online World of Warcraft Auction House.</p>

			<% if (player) {%>

				<h2>Welcome, <%=player.username%></h2>

				<a href="/browse">Browse Auctions</a><br>
				<a href="/manage/<%=player.playerid%>">Manage your auctions</a><br>
				
			<% } else { %>
				
				<a href="/createplayer"><h2>Sign Up</h2></a>
				<a href="/login"><h2>Log in</h2></a>	
				
			<% }%>
		
		</div>

	</body>

</html>