<!DOCTYPE html>
<html>

	<head>
		<title>WoW eAH</title>
		<link rel="icon" type="image/png" href="/img/favicon.ico" />
		<link rel="stylesheet" href="additionalStyles.css">
	</head>

	<body>

		<%- include("common/navbar") -%>

			<h1>WoW eAH</h1>
			<p>Online World of Warcraft Auction House.</p>

			<a href="/browse">
				<p>Browse Auctions</p>
				<p>Browse and search auctions.<p>
			</a>

			<a href="/manage">
				<p>Manage your auctions</p>
				<p>Manage your auctions and monitor your competition.</p>
			</a>

			<a href="/analyse">
				<p>Analyse Auctions</p>
				<p>Analyse the state of the market.</p>
			</a>

	</body>

</html>