<!DOCTYPE html>
<html lang="en">

	<head>
		<title>WoW eAH</title>
		<link rel="icon" type="image/png" href="/img/favicon.ico" />
		<script src="/script/LoginHandler.js"></script>
	</head>

	<body>

		<%- include("common/navbar") -%>

		<div style="text-align:center;">
			<!-- Page title -->
			<div>
				<h1>Sign up</h1>
				<p>Enter a username and password to log in</p>
			</div>

			<table align="center">
				<tr>
					<td><label for="username">Username</label></td>
					<td><input id="username" name="username" placeholder="Username" /><td>
					
				</tr>
				<tr>
					<td><label for="password">Password</label></td>
					<td><input type="password" id="password" name="password" placeholder="Password" /></td>
				</tr>
				<tr>
					<td colspan="2"><button type="submit" onclick="attemptLogin()">Submit</button></td>
				</tr>
				
			</table>
			
			<p id="message"></p>
			
		</div>

	</body>

</html>