<!DOCTYPE html>
<html lang="en">

	<head>
		<title>WoW eAH</title>
		<link rel="icon" type="image/png" href="/img/favicon.ico" />
	</head>

	<body>

		<!-- Nav bar -->
		<%- include("common/navbar") -%>

	</body>

</html>