@font-face {
    font-family: 'Swansea';
    src: url('fonts/Swansea-q3pd.ttf');
    font-style: normal;
}

/* Color Theme Swatches in Hex */
.dark-1-hex { color: #121D26; }
.dark-2-hex { color: #394D59; }
.dark-3-hex { color: #4D6873; }
.dark-4-hex { color: #C1D4D9; }
.dark-5-hex { color: #0D0D0D; }

* {font-family: Swansea !important;}

html, body { background-color: #121D26; color: white;}

a { color:white; background-color: #394D59;}
a:hover, a:focus { background-color: #4D6873 !important; color:white;}

nav { background-color: #394D59; }

.jumbotrontitle, .jumbotronsubtitle, .panel-body, .panel-heading {
    text-align: center;
}

.panellink:hover a:hover {
    font-weight: bold;
    text-decoration:none;
}

.titlecard {
    background-color: #4D6873 !important;
    color: white;
}

.panel-default {
    border-color: #121D26 !important;
    border-radius: 10px;
}

.panel-heading {
    background-color: #394D59 !important;
    border-color: #121D26 !important;
    color: white !important;
}

.panel-body {
    background-color: #4D6873;
    border-color: #121D26;
    color: white;
}

.jumbotron::after {
    content: '';
    display: block;
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .4;
}

