<head>
	<title>WoW eAH</title>
	<link rel="icon" type="image/png" href="/img/favicon.ico" />
	<link rel="stylesheet" href="additionalStyles.css">
</head>

<body>
	<div style="font-size:24px; text-align: center;">
		<h2>You must be logged in to do that</h2>
		<a href="/"><p>Home</p></a>
		<a href="/createplayer"><p>Sign Up</p></a>
		<a href="/login"><p>Log in</p></a>
	</div>
</body>