<nav class="navbar">
    <ul class="nav navbar-nav">
        <li><a class="navbar-brand" href="./">WoW eAH</a></li>
        <li><a href="./">Home</a></li>
        <li><a href="/browse">Browse</a></li>
        <li><a href="/manage">Manage</a></li>
        <li><a href="/analyse">Analyse</a></li>
        <li><a href="/createplayer">Sign Up</a></li>
    </ul>
</nav>