<!-- Must be included AFTER stylesheet is loaded -->
<ul class="ul-navbar">
  <li class="li-navbar"><a class="navbar-text" href="#home">Home</a></li>
  <li class="li-navbar"><a class="navbar-text" href="news">News</a></li>
  <li class="li-navbar"><a class="navbar-text" href="contact">Contact</a></li>
  <li class="li-navbar"><a class="navbar-text" href="about">About</a></li>
</ul>